@-webkit-keyframes shake {
    0% {
        width: 100px;
    }
    100% {
        width: 200px;
    }
}

@-moz-keyframes shake {
    0% {
        width: 100px;
    }
    100% {
        width: 200px;
    }
}

@-ms-keyframes shake {
    0% {
        width: 100px;
    }
    100% {
        width: 200px;
    }
}

@keyframes shake {
    0% {
        width: 100px;
    }
    100% {
        width: 200px;
    }
}