.alien-ui-editor_action-font-family {
  overflow: hidden; }
  .alien-ui-editor_action-font-family-item,
  .alien-ui-editor_action-font-family-item:hover,
  .alien-ui-editor_action-font-family-item:visited,
  .alien-ui-editor_action-font-family-item:link,
  .alien-ui-editor_action-font-family-item:active {
    float: left;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer; }
