.donkey-ui-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto; }
  .donkey-ui-window-overflow {
    overflow: hidden; }
  .donkey-ui-window-inner {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 10;
    background: #fff;
    border-radius: 6px; }
  .donkey-ui-window-header {
    height: 40px;
    position: relative;
    background-color: #f1f1f1;
    width: 100%;
    overflow: hidden; }
  .donkey-ui-window-title {
    font-size: 15px;
    color: #333;
    line-height: 40px;
    padding-left: 10px; }
  .donkey-ui-window-close {
    font-size: 30px;
    color: #b2b2b2;
    line-height: 40px;
    float: right;
    cursor: pointer;
    padding-right: 10px;
    font-family: Arial; }
  .donkey-ui-window-body {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto; }
