<div class="donkey-ui-pager">
    <div class="j-flag"></div>
    <div class="donkey-ui-pager-action j-flag">
        <div data-index="0">{{options.navStart}}</div>
        <div data-index="1">{{options.navPrev}}</div>
        <div data-index="2">{{options.navNext}}</div>
        {{if options.total >= 0}}
        <div data-index="3">{{options.navEnd}}</div>
        {{/if}}
    </div>
    {{if options.jump}}
    <div>
        去第<input type="text" class="j-flag">页
        <span class="donkey-ui-pager-sure j-flag">{{options.sureText}}</span>
    </div>
    {{/if}}
</div>
