.donkey-ui-window {
  position: absolute;
  display: none; }
  .donkey-ui-window-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto; }
  .donkey-ui-window > * {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0; }
