.donkey-ui-dialog {
  height: 100%; }
  .donkey-ui-dialog-inner {
    background: #fff;
    border: 1px solid #26AFE9;
    border-radius: 6px;
    height: 100%;
    overflow: hidden; }
  .donkey-ui-dialog-head {
    position: relative;
    background: #26AFE9;
    height: 40px;
    line-height: 40px; }
  .donkey-ui-dialog-title {
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    text-align: center; }
  .donkey-ui-dialog-close {
    font: 20px normal serif;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0.6; }
    .donkey-ui-dialog-close:hover {
      color: #fff;
      opacity: 1; }
  .donkey-ui-dialog-body {
    overflow: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
  .donkey-ui-dialog-nohead .donkey-ui-dialog-body {
    border-radius: 6px; }
