.donkey-ui-dialog {
  height: 100%;

  &-inner {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 10px #888;
    height: 100%;
    overflow: hidden;
  }

  &-head {
    position: relative;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    height: 34px;
    line-height: 33px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &-title {
    color: #444;
    font-size: 16px;
    padding: 0 10px;
  }

  &-close {
    font: 20px normal Arial;
    position: absolute;
    right: 0;
    top: 0;
    color: #bbb;
    cursor: pointer;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;

    &:hover{
      color: #888;
    }
  }

  &-body {
    overflow: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &-nohead {
    .donkey-ui-dialog-body {
      border-radius: 6px;
    }
  }
}

