.donkey-ui-dialog {
  height: 100%;
  $border: 1px solid #ccc;

  &-inner {
    background: #fff;
    border: $border;
    border-radius: 6px;
    //box-shadow: 0 0 10px #15AEED;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
  }

  &-head {
    position: relative;
    background: #f9f9f9;
    height: 40px;
    line-height: 40px;
    border-bottom: $border;
  }

  &-title {
    color: #777;
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
  }

  &-close {
    font: 20px normal serif;
    position: absolute;
    right: 0;
    top: 0;
    color: #888;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0.6;

    &:hover{
      color: #444;
      opacity: 1;
    }
  }

  &-body {
    overflow: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 15px;
  }

  &-nohead {
    .donkey-ui-dialog-body {
      border-radius: 6px;
    }
  }
}

