.donkey-ui-dialog {
  height: 100%; }
  .donkey-ui-dialog-inner {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc; }
  .donkey-ui-dialog-head {
    position: relative;
    background: #f9f9f9;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc; }
  .donkey-ui-dialog-title {
    color: #777;
    font-size: 16px;
    padding: 0 10px;
    text-align: center; }
  .donkey-ui-dialog-close {
    font: 20px normal serif;
    position: absolute;
    right: 0;
    top: 0;
    color: #888;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0.6;
    font-size: 20px; }
    .donkey-ui-dialog-close:hover {
      color: #444;
      opacity: 1; }
  .donkey-ui-dialog-body {
    overflow: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 15px; }
  .donkey-ui-dialog-nohead .donkey-ui-dialog-body {
    border-radius: 6px; }
