.donkey-ui-loading {
  display: none;
  position: fixed;
  background: #000;
  padding: 10px;
  text-align: center;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  .donkey-ui-loading-inner {
    position: relative; }
  .donkey-ui-loading-gif img {
    width: 30px;
    height: 30px;
    max-width: none;
    max-height: none;
    border: 0;
    vertical-align: top;
    border-radius: 0; }
  .donkey-ui-loading-text {
    color: #fff;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    padding-top: 10px; }
