.donkey-widgets-confirm-cancel {
  background: #FFFFFF;
  color: #15aeed;
  border: 1px solid #15aeed; }
  .donkey-widgets-confirm-cancel:hover {
    background: #fff;
    color: #0f8cc0;
    border-color: #0f8cc0; }
