.donkey-widgets-tips {
  font-size: 12px;
  line-height: 20px;
  padding: 5px 10px;
  color: #fff;
  -ms-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word; }
  .donkey-widgets-tips-normal {
    background: #444; }
  .donkey-widgets-tips-success {
    background: #69af01; }
  .donkey-widgets-tips-danger {
    background: #f77e7e; }
